.route-uploads-new {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > .content {
    > .uploading {
      font-weight: 600;
    }
    > .idle {
      > .error {
        margin-bottom: 10px;
      }
      > .file {
        margin-bottom: 5px;
      }
    }
  }
}
