<div class="item">
  <div class="filename">{{@model.filename}}</div>
  <div class="details">
    {{@model.formattedContentType}}, {{@model.formattedSize}}
  </div>
  <div class="date">
    {{@model.formattedTimestamp}}
  </div>
</div>