.block-application-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  > .delimiter {
    flex: 1;
  }
  > a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 600;
    &.active {
      text-decoration: underline;
    }
    white-space: nowrap;
    &.name {
      @include ellipsis();
      text-decoration: none;
    }
    @include mobile() {
      &.uploads {
        display: none;
      }
    }
  }
}
