<div class="block-application">
  <Block::Application::Header @class="header"/>
  <div class="content">
    {{yield}}
  </div>
  {{#if this.store.isDevelopment}}
    <div class="footer">
      <Block::Stats/>
    </div>
  {{/if}}
</div>