.zuglet-stats {
  padding: 10px;
  font-size: $font-size-smaller;
  > .section {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
    > .label {
      font-weight: 600;
    }
    @include ellipsis();
  }
}
