<div class="block-stats">
  <Block::Stats::Section @title="Activated" @placeholder="Nothing activated" @models={{this.stats.activated}} @select={{this.select}}/>
  <Block::Stats::Section @title="onSnapshot" @placeholder="No onSnapshot listeners" @models={{this.stats.snapshots}} @select={{this.select}}/>
</div>