<div class="input-file" {{class @class}}>
  {{#if this.total}}
    <div class="button selected">{{this.total}}</div>
  {{else}}
    <div class="button placeholder">Choose one or more files…</div>
  {{/if}}
  <input class="input" type="file" multiple="true" {{on "change" this.onFiles}}/>
</div>